@media screen and (min-width: 1100px) {
    .logo {
        width: 30%;
        padding: 0;
        margin-bottom: 20px;
    }
   
    #container {
        max-width: 550px;
    }

    /* Start Section  */
    #start,
    #instructionsBtn,
    #feedback {
        margin: 20px 60px;
        padding: 20px;
        font-size: 1rem;
    }

     /* scores section */
     .scores {
        font-size: 0.9rem;
        padding: 25px;
        margin: 10px 20px;
    }

    /* Instructions Section */
    #instructions h2 {
        font-size: 1rem;
    }

    #instructions h4 {
        font-size: 0.8rem;
    }

    #exitInstructions {
        font-size: 1rem;
        padding: 10px;
        margin-bottom: 5px;
    }

    /* Feedback Section */

    #message {
        font-size: 1rem;
    }

    #submit {
        font-size: 1rem;
        padding: 10px;
        margin-bottom: 0;
    }

    #exitFeedback {
        font-size: 1rem;
        padding: 10px;
        margin-bottom: 0;
    }

    textarea {
        font-size: 0.8rem;
    }

    /* Quiz Section */
    #questionText {
        margin: 10px 0;
        font-size: 1.2rem;
    }

    .choice_que {
        font-size: 0.8rem;
        margin: 10px;
        padding: 10px;
    }

    #next,
    #end {
        font-size: 1rem;
        margin: 10px 0 0px 0;
        padding: 10px;
    }

    /* results Sections */
    #congrats h2,
    #tryAgain h2 {
        font-size: 1.2rem;
        margin-top: 20px;
    }

    #congrats h4,
    #tryAgain h4 {
        font-size: 0.8rem;
    }

    .restart {
        font-size: 1rem;
        margin: 20px 0 ;
        padding: 5px;
    }
}

@media screen and (min-width: 1500px) {
   
    #container {
        max-width: 750px;
    }

    .logo {
        margin-bottom: 60px;
    }

    /* Start Section  */
    #start,
    #instructionsBtn,
    #feedback {
        margin: 60px 80px;
        font-size: 2.5rem;
        padding: 10px;
    }

     /* scores section */
     .scores {
        font-size: 2.5rem;
        padding: 10px;
        margin: 10px 25px;
    }

    /* Instructions Section */
    #instructions {
        padding: 50px;
    }
   
    #instructions h2 {
        font-size: 2.5rem;
    }

    #instructions h4 {
        font-size: 2rem;
    }

    #exitInstructions {
        font-size: 2.5rem;
        padding: 40px 60px;
        margin-bottom: 10px;
    }

    /* Feedback Section */
    #message {
        font-size: 2.5rem;
        padding: 10px;
    }

    #submit {
        font-size: 2.5rem;
        padding: 25px 50px;
        margin-bottom: 25px;
    }

    #exitFeedback {
        font-size: 2.5rem;
        padding: 25px 50px;
        margin: 25px;
    }

    textarea {
        font-size: 2rem;
        margin-bottom: 30px;
    }

    /* Quiz Section */
    #questionText {
        margin: 50px 0;
        font-size: 2.5rem;
    }

    .choice_que {
        font-size: 2rem;
        margin: 40px;
        padding: 40px;
    }

    #next,
    #end {
        font-size: 2.5rem;
        margin: 50px 0;
        padding: 40px;
    }

    /* results Sections */
    #congrats h2,
    #tryAgain h2 {
        font-size: 2.5rem;
    }

    #congrats h4,
    #tryAgain h4 {
        font-size: 2rem;
    }

    .restart {
        font-size: 2.5rem;
    }
}

