/* @media screen and (min-width: 1100px) {
    .logo {
        width: 30%;
        padding: 0;
        margin-bottom: 20px;
    }
   
    #container {
        max-width: 550px;
    } */

    /* Start Section  */
    /* #start,
    #instructionsBtn,
    #feedback {
        margin: 20px 60px;
        padding: 20px;
        font-size: 1rem;
    } */

     /* scores section */
     /* .scores {
        font-size: 0.9rem;
        padding: 25px;
        margin: 10px 20px;
    } */

    /* Instructions Section */
    /* #instructions h2 {
        font-size: 1rem;
    }

    #instructions h4 {
        font-size: 0.8rem;
    }

    #exitInstructions {
        font-size: 1rem;
        padding: 10px;
        margin-bottom: 5px;
    } */

    /* Feedback Section */

    /* #message {
        font-size: 1rem;
    }

    #submit {
        font-size: 1rem;
        padding: 10px;
        margin-bottom: 0;
    }

    #exitFeedback {
        font-size: 1rem;
        padding: 10px;
        margin-bottom: 0;
    }

    textarea {
        font-size: 0.8rem;
    } */

    /* Quiz Section */
    /* #questionText {
        margin: 10px 0;
        font-size: 1.2rem;
    }

    .choice_que {
        font-size: 0.8rem;
        margin: 10px;
        padding: 10px;
    }

    #next,
    #end {
        font-size: 1rem;
        margin: 10px 0 0px 0;
        padding: 10px;
    } */

    /* results Sections */
    /* #congrats h2,
    #tryAgain h2 {
        font-size: 1.2rem;
        margin-top: 20px;
    }

    #congrats h4,
    #tryAgain h4 {
        font-size: 0.8rem;
    }

    .restart {
        font-size: 1rem;
        margin: 20px 0 ;
        padding: 5px;
    }
} */

/* @media screen and (min-width: 1500px) {
   
    #container {
        max-width: 3500px;
    }

    .logo {
        margin-bottom: 160px;
    } */

    /* Start Section  */
    /* #start,
    #instructionsBtn,
    #feedback {
        margin: 160px 800px;
        font-size: 5.5rem;
        padding: 100px;
    } */

     /* scores section */
     /* .scores {
        font-size: 5rem;
        padding: 100px;
        margin: 100px 250px;
    } */

    /* Instructions Section */
    /* #instructions {
        padding: 50px;
    }
   
    #instructions h2 {
        font-size: 7rem;
    }

    #instructions h4 {
        font-size: 5rem;
    }

    #exitInstructions {
        font-size: 5.5rem;
        padding: 80px 120px;
        margin-bottom: 100px;
    } */

    /* Feedback Section */
    /* #message {
        font-size: 5.5rem;
        padding: 100px;
    }

    #submit {
        font-size: 5.5rem;
        padding: 50px 100px;
        margin-bottom: 50px;
    }

    #exitFeedback {
        font-size: 5.5rem;
        padding: 50px 100px;
        margin: 50px;
    }

    textarea {
        font-size: 5rem;
        margin-bottom: 100px;
    } */

    /* Quiz Section */
    /* #questionText {
        margin: 100px 0;
        font-size: 7rem;
    }

    .choice_que {
        font-size: 5rem;
        margin: 80px;
        padding: 80px;
    }

    #next,
    #end {
        font-size: 5.5rem;
        margin: 100px 0;
        padding: 80px;
    } */

    /* results Sections */
    /* #congrats h2,
    #tryAgain h2 {
        font-size: 5.5rem;
    }

    #congrats h4,
    #tryAgain h4 {
        font-size: 5rem;
    }

    .restart {
        font-size: 5.5rem;
    }
}
 */
