@media screen and (max-width: 1200px) {
    .logo {
        width: 60%;
        margin: 40px;
    }

    #container {
        max-width: 830px;
        padding: 40px;
    }
   
    /* start section */
    #start, #feedback, #instructionsBtn {
        font-size: 2.5rem;
        margin: 70px 100px;
    }

    /* score area */
    /* .score {
        padding: 50px;
    } */

    /* Instructions Section */
    #instructions h2 {
        font-size: 50px;
        padding-bottom: 30px; 
    }
    
    #instructions h4 {
        font-size: 30px; 
    }
    
    #exitInstructions {
        font-size: 3rem; 
    }

    /* Feedback Section */
    #message {
        font-size: 30px;
    }
    
    textarea {
        margin: 20px 0; 
        font-size: 20px;
    }
    
    #submit {
        font-size: 3rem;
    }
    
    #exitFeedback {
        font-size: 3rem;
    }

    /* Quiz Section */
    #questionText {
        font-size: 50px;
    }
    
    .choice_que {
        font-size: 30px;
        font-weight: lighter;
    }
    
    #next, #end {
        font-size: 3rem;
    }

    /* Winners Section */
    #congrats h2, #tryAgain h2{
        font-size: 40px;
    }
    
    .restart {
        font-size: 3rem;
        width: 40%;
    }
    
    /* loosers Section */
    #congrats h4, #tryAgain h4{
        font-size: 30px;
    } 
    
}

@media screen and (max-width: 800px) {
    .logo {
        width: 60%;
        margin: 30px;
    }

    #container {
        max-width:80%;
        padding: 40px;
    }

    /* start section */
    #start, #feedback, #instructionsBtn {
        margin: 40px 70px;
    }

    /* score area */
    .scores {
        font-size: large;
        margin: 10px;
    }

    /* Instructions Section */
    #instructions h2 {
        font-size: 30px;
    }

    #instructions h4 {
        font-size: 25px;
    }

    #exitInstructions {
        font-size: 25px;
        padding:5%;
    }

    /* feedback section */
    #message {
        font-size:25px;
        margin: 0;
    }

    textarea {
        font-size: 15px;
    }

    #exitFeedback, #submit {
        font-size: 1.5rem;
    }

    #form { 
        padding:0; 
    } 
    
    /* Quiz Section */
    #questionText {
        font-size: 30px;
    }

    .choice_que {
    padding: 10px;
    margin: 10px;
    } 

    #next, #end {
     font-size: 30px;
    }

      /* Winners Section */
      #congrats h2, #tryAgain h2{
        font-size:30px;
    }

    .restart {
        font-size: 1.5rem;
    }

    /* loosers Section */
    #congrats h4, #tryAgain h4{
        font-size:20px;
    }
}

@media screen and (max-width: 420px) {
    #container {
        max-width: 80%;
        padding: 30px 20px;
        margin-bottom: 30px;
    } 

    .logo {
        width: 80%;
        margin-top: 10px;
    }

    /* start section */
    #start {
        font-size: 1rem;
        padding: 20px 30px;
        margin: 5%;
        margin-top: 40px;
        margin-bottom: 40px;
        text-align: center;
    }

    #feedback {
        font-size: 1rem;
        padding: 20px 30px;
        margin: 10% 5% 5% 5%;
        text-align: center;
    }
    
    #instructionsBtn {
        font-size: 1rem;
        padding: 20px 0;
        margin: 5% 5% 10% 5%;
        text-align: center;
    } 

    /* score area */
    .scores {
        display: inline;
        font-size: small;
        margin: 0;
    } 
    
    /* Instructions Section */
    #instructions h2 {
        font-size: 20px;
    }

    #instructions h4 {
        font-size: 15px;
    }

    #exitInstructions {
        font-size: 15px;
        padding:5%;
    }

    /* feedback section */
    #message {
        font-size: small;
        margin: 0;
    }

    #exitFeedback, #submit {
        font-size: 1rem;
    }

    #form { 
        padding: 20px; 
        padding-bottom: 0;
    } 

    /* Quiz Section */
     #questionText {
        font-size:medium
    }

    #optionList {
    display: grid;
    grid-template-columns: repeat(1, auto);
    }

    .choice_que {
    font-size: medium;
    padding: 5px;
    font-weight: lighter;
    }

    #next, #end {
    font-size: 1rem;
    margin: 0;
    padding: 5px;
    width: 60px;
    }

    /* Winners Section */
    #congrats h2, #congrats h4{
        font-size:medium;
        margin-bottom: 0;
    }

    .restart {
        font-size: 1rem;
        padding: 10px;
        width: 40%;
    }

    /* loosers Section */
    #tryAgain h2, #tryAgain h4{
        font-size:medium;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 360px) {

    .logo {
        margin-bottom: 0;
    }

    #container {
        margin-bottom: 20px;
    }
    
    /* start section */
    #start, #feedback {
        margin: 10%;
    }
    
    #instructionsBtn {
        margin: 10%;
    } 

    /* score area */
    .scores {
        padding: 15px;
        margin: 0;
    } 

    /* Instructions Section */
    #instructions h2 {
        font-size: 20px;
    }

    #instructions h4 {
        font-size: small;
    }

    #exitInstructions {
        font-size: 1rem;
    }

    /* Feedback Section */
    #form { 
        padding: 0; 
    } 

    /* textarea {
        display:
    } */
   
}  

@media screen and (max-width: 330px) {
   
    .logo {
        margin:0;
    }

    /* score area */
    .scores {
        font-size: x-small;
    }

    /* Instructions Section */
    #instructions h2 {
        font-size: 15px;
    }

    #instructions h4 {
        font-size: small;
    }

    #exitInstructions {
        font-size: 1rem;
        padding: 5px;
    }

    /* Feedback Section */
    
    /* textarea {
        display:
    } */

    #submit, #exitFeedback {
        padding: 5px;
    }
}